:root {
  --error: rgb(197, 51, 51);
  --background: #2b303a;
  --fontcolor: #f7f7f2;
  overflow: hidden;
}

.App {
  text-align: center;
  font-family: "canada-type-gibson", sans-serif;
  font-weight: 200;
  font-style: normal;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  background-color: var(--background);
  color: var(--fontcolor);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

li {
  list-style: none;
}

img {
  width: 30px;
}

.left-main-container,
.right-main-container {
  border-right: 0.5px solid grey;
  display: flex;
  flex-direction: column;
}
.middle-main-container {
  border: 0.5px solid rgb(84, 84, 82);
  max-width: 600px;
}

.link {
  color: #f7f7f2;
}

.viewtweet {
  height: 80vh;
}

.middle-main-container {
  text-align: left;
}

#skapakonto {
  border: 1px solid rgb(51, 218, 255);
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: var(--background);
  color: rgba(255, 255, 255, 0.902);
  cursor: pointer;
  margin-top: 10px;
}

#loggain {
  border: 1px solid rgb(51, 218, 255);
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: rgb(51, 218, 255);
  color: rgba(255, 255, 255, 0.902);
  cursor: pointer;
  margin-top: 10px;
}

#header {
  margin-top: 20px;
}

.hashtags {
  font-weight: 700;
  text-align: left;
  margin-left: 23%;
}

#signuppage {
  margin-left: 20%;
  padding-bottom: 20px;
}

#loginpage {
  text-align: center;
}
