#searchbar {
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  font-size: 16px;
}

#submit button {
 
  color: rgb(192, 190, 190);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}