.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

<<<<<<< HEAD
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style: none;
=======
.login-form {
  border: 1px solid black;
  padding: 20px;
  width: 400px;
>>>>>>> 686f871db1266cdebfdd6f184474fd84353a9a59
}