footer {
    /*     position: fixed; */
    transform: translateY(-175px);
    text-align: left;
    padding-left: 30%;
    height: 120px;
    width: 100%;
    margin-left: -10px;
    background-color: #00acee;
    font-family: 'canada-type-gibson', sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    bottom: -170px;
}

footer h2 {
    margin-bottom: -10px;
}

#buttons {
    display: flex;
    flex-direction: row;
    transform: translate(45%, -70px);
}

footer button {
    border: 0.5px solid white;
    width: 9vw;
    height: 40px;
    border-radius: 25px;
    font-size: 14px;
    background-color: #00acee;
    color: white;
    cursor: pointer;
    margin-right: 1%;
}

img {
    width: 70px;
    margin: 10px;
}

.userinfo {
    display: flex;
    flex-direction: row;
    margin: 5px;
    border: 2px solid white;
    border-radius: 10px;
    width: 300px;
}

.userinfo:hover {
    background-color: #2fb6eb;
    cursor: pointer;
}

.threedots {
    margin: 30px 0 0 90px;
    font-size: 30px;
}
